html {
    height: 100%;
    width: 100%;
}
body {
    background-color: #fff1da;
}

button {
    color: 	#b74900;
    font-size: medium;
    font-family: 'Goudy Old Style', sans-serif;
}

h1 {
    font-family: 'Goudy Old Style', cursive;
    font-style: bold; 
    font-size: xx-large;
    color: #281f03;
    width:100%;
    margin-top: -30px;
}
p {
    color: 	#000739;
    font-family: 'Perpetua', sans-serif;
    font-style: italic; 
    font-size: x-large;
    padding: 20px;
}
h2 {
    color: #b74900; 
    font-family: 'Goudy Old Style', sans-serif;
    font-size: xx-large;
    margin-top: 20px;
}
h3 {
    color: 	#b74900;
    font-family: 'Goudy Old Style', sans-serif;
    font-size: xx-large; 
    margin-top: 20px; 
}
.banner {
    display: block;
    margin: top;
}
