html {
  height: 100%;
  width: 100%;
}
body {
    background-color: #e2d397;
}

button {
    color: 	#0fc3e8;
    font-size: medium;
    font-family: 'Goudy Old Style', sans-serif;
}

h1 {
  color: #f07e13;  
  }
p {
  color: #481800;
  font-family: "Perpetua", sans-serif;
  font-style: italic;
  font-size: x-large;
  padding: 20px;
}
h2 {
  color: #f07e13;
  font-family: "Goudy Old Style", sans-serif;
  font-size: xx-large;
  margin-top: 20px;
}
h3 {
  color: #f07e13;
  font-family: "Goudy Old Style", sans-serif;
  font-size: xx-large;
  margin-top: 20px;
}
.banner {
    display: block;

}
#JazzPolice {
    text-align: center;
}


