html {
    height: 100%;
    width: 100%;
}
body {
    background-color: #fff1da;
}
nav{
    background-color: #f5c972;
}
h1 {
    color: #281f03;
    width:100%;
    margin: auto;
}
p {
    color: 	#000739;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}
h2 {
    color: #b74900; 
    margin-top: 20px;
}
h3 {
    color: 	#b74900;
    margin-top: 20px; 
}

